.btn_show {
  padding: 0.6rem;
  border-radius: 4px;
  background-color: rgb(100, 155, 237);
  color: white;
}

.btn_show:hover {
  opacity: 0.5;
  color: black;
}

.flat_new {
  margin-top: 2rem;
}

.btn_new {
  margin-top: 1rem;
  padding: 0.6rem;
  border-radius: 4px;
  background-color: rgb(53, 161, 84);
  color: white;
  font-size: 1.15rem;
}

.btn_new:hover {
  opacity: 0.5;
  color: black;
}

.map-container {
  margin-top: 50px;
}
