<div class="container">

<h1>Editing flat</h1>

<%= render "form", flat: @flat %>

<br>

<div>
  <%= link_to "Show this flat", @flat, class: "btn btn_show"%> |
  <%= link_to flats_path do %>
    <i class="fa-solid fa-building" style="font-size: 24px;"></i>
  <% end %>
</div>

</div>
