// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");

// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #333;
}

// Links
a {
  color: #3498db;
  text-decoration: none;

  &:hover {
    color: #2980b9;
  }
}

// Container for main content
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

// Notice Message
.notice {
  color: green;
  margin-bottom: 20px;
}
